@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="form-horizontal">
    <div class="form-group">
        <label for="FindByCountry" class="col-sm-2 control-label">Search Country:</label>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" id="FindByCountry" class="form-control col-md-3" autocomplete="off" placeholder="Lookup a country" autofocus="autofocus" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<hr />
<cite id="population">

</cite>

<script>
    var searchCountry = function (query, process) {
        $.get('@(Url.Action("SearchCountry"))', { search: query }, function (data) {
            process(data);
        })
    };

    function countrySelected() {
        var $input = $('#FindByCountry');
        var current = $input.typeahead("getActive");
    }

    $(function () {
        $('#FindByCountry').typeahead({
            source: function (query, process) {
                searchCountry(query, process);
            },
            autoSelect: true,
            afterSelect: countrySelected,
            minLength: 2,
            //updater: countrySelected,
            showHintOnFocus: false,
            function (data) {
                countries = data.d;
                var code = _.map(countries, function (c) {
                    return c.code;
                });
                return process(code);
            }
        });
    })

</script>
