@model IEnumerable<World.Web.Models.SummaryPage>
@{
    ViewData["Title"] = "The World";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12-center">
    <table class="table table-striped">
				<thead>
      <tr>
        <th>Countries</th>
        <th>Cities</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var u in Model.OrderBy(u => u.countries).ThenBy(u => u.cities))
        {
			<tr>		
            <td>
                   <strong>@u.countries </strong>
			</td>
		    <td>
                   <em> - @u.cities</em>
           </td>
		  </tr>
        }
    </tbody>
  </table>
    </div>
</div>

