@model World.Web.Models.LifeExp
@{
    ViewData["Title"] = "The World";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <i class="fa fa-globe fa-5x fa-align-center" aria-hidden="true"></i>
        </div>
    </div>
</div>

